## Conteúdo Extra - Frequencia de dados

In [1]:
import pandas as pd

- Criando Series de exemplo:

        Para criar Series de exemplo uso o pandas.Series(), e acrescento a função
        'list()' que irá transformar a string em seu conteúdo em uma lista;

In [5]:
s = pd.Series(list('asdasdasdasdasdasdasdsa'))
s

0     a
1     s
2     d
3     a
4     s
5     d
6     a
7     s
8     d
9     a
10    s
11    d
12    a
13    s
14    d
15    a
16    s
17    d
18    a
19    s
20    d
21    s
22    a
dtype: object

- Series.unique()

        - Para localizar os conteúdos dentro da Serie e lista-lo;
        
        - Trás os valores dessa Series e o dtype;

In [6]:
s.unique()

array(['a', 's', 'd'], dtype=object)

- Series.value_counts()

        - Localiza todas as repetições dos valores encontrados no 'Series.unique()' e lista a quantidade de repetições dos valores na Series;

        - Retorna a lista ordenada pela quantidade de repetições;

In [7]:
s.value_counts()

a    8
s    8
d    7
dtype: int64

In [26]:
dados = pd.read_csv('aluguel.csv', sep=';')

dados.head(5)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.3,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.7,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.0,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.4,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.7,Apartamento

In [27]:
dados['Tipo'].unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [28]:
dados.Tipo.value_counts()

Apartamento           16926
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64

### Exemplo exercicio:

Suponha que estejamos testando as moedas que serão utilizadas por árbitros de futebol nas competições da Copa do Mundo. Atualmente, estas moedas são personalizadas e utilizadas em certos momentos dos jogos para decidir, na sorte, uma disputa. Nosso objetivo é verificar se as moedas que serão utilizadas nas competições não sejam viciadas.

Para isso testes foram realizados com cinco moedas e os resultados foram os seguintes:


m1 = 'CCcCCccCCCccCcCccCcCcCCCcCCcccCCcCcCcCcccCCcCcccCc'

m2 = 'CCCCCccCccCcCCCCccCccccCccCccCCcCccCcCcCCcCccCccCc'

m3 = 'CccCCccCcCCCCCCCCCCcccCccCCCCCCccCCCcccCCCcCCcccCC'

m4 = 'cCCccCCccCCccCCccccCcCcCcCcCcCcCCCCccccCCCcCCcCCCC'

m5 = 'CCCcCcCcCcCCCcCCcCcCCccCcCCcccCccCCcCcCcCcCcccccCc'

In [32]:
df = pd.DataFrame(columns={
                    'm1':'CCcCCccCCCccCcCccCcCcCCCcCCcccCCcCcCcCcccCCcCcccCc',
                    'm2':'CCCCCccCccCcCCCCccCccccCccCccCCcCccCcCcCCcCccCccCc',
                    'm3':'CccCCccCcCCCCCCCCCCcccCccCCCCCCccCCCcccCCCcCCcccCC',
                    'm4':'cCCccCCccCCccCCccccCcCcCcCcCcCcCCCCccccCCCcCCcCCCC',
                    'm5':'CCCcCcCcCcCCCcCCcCcCCccCcCCcccCccCCcCcCcCcCcccccCc'
                   })
df

Empty DataFrame
Columns: [m1, m2, m3, m4, m5]
Index: []

In [33]:
m1 = pd.Series(list('CCcCCccCCCccCcCccCcCcCCCcCCcccCCcCcCcCcccCCcCcccCc'))
m2 = pd.Series(list('CCCCCccCccCcCCCCccCccccCccCccCCcCccCcCcCCcCccCccCc'))
m3 = pd.Series(list('CccCCccCcCCCCCCCCCCcccCccCCCCCCccCCCcccCCCcCCcccCC'))
m4 = pd.Series(list('cCCccCCccCCccCCccccCcCcCcCcCcCcCCCCccccCCCcCCcCCCC'))
m5 = pd.Series(list('CCCcCcCcCcCCCcCCcCcCCccCcCCcccCccCCcCcCcCcCcccccCc'))

In [34]:
m1.unique()
m2.unique()
m3.unique()
m4.unique()
m5.unique()

array(['C', 'c'], dtype=object)

In [36]:
m1 = m1.value_counts()
m2 = m2.value_counts()
m3 = m3.value_counts()
m4 = m4.value_counts()
m5 = m5.value_counts()

In [51]:
df1 = pd.DataFrame({'m1':m1})
df2 = pd.DataFrame({'m2':m2})
df3 = pd.DataFrame({'m3':m3})
df4 = pd.DataFrame({'m4':m4})
df5 = pd.DataFrame({'m5':m5})

In [54]:
df_fim = pd.concat([df1,df2,df3,df4,df5], axis=1)

df_fim

   m1  m2  m3  m4  m5
C  25  24  31  27  25
c  25  26  19  23  25

In [57]:
df = pd.DataFrame(data = ['Cara', 'Coroa'], 
                    index = ['c', 'C'], 
                    columns = ['Faces'])

df

   Faces
c   Cara
C  Coroa

In [72]:
m1 = 'CCcCCccCCCccCcCccCcCcCCCcCCcccCCcCcCcCcccCCcCcccCc'
m2 = 'CCCCCccCccCcCCCCccCccccCccCccCCcCccCcCcCCcCccCccCc'
m3 = 'CccCCccCcCCCCCCCCCCcccCccCCCCCCccCCCcccCCCcCCcccCC'
m4 = 'cCCccCCccCCccCCccccCcCcCcCcCcCcCCCCccccCCCcCCcCCCC'
m5 = 'CCCcCcCcCcCCCcCCcCcCCccCcCCcccCccCCcCcCcCcCcccccCc'
eventos = {'m1': list(m1), 
            'm2': list(m2), 
            'm3': list(m3), 
            'm4': list(m4), 
            'm5': list(m5)}
moedas = pd.DataFrame(eventos)
df = pd.DataFrame(data = ['Cara', 'Coroa'], 
                    index = ['c', 'C'], 
                    columns = ['Faces'])
for item in moedas:
    df = pd.concat([df, moedas[item].value_counts()], 
                    axis = 1)
df

   Faces  m1  m2  m3  m4  m5
c   Cara  25  26  19  23  25
C  Coroa  25  24  31  27  25