## Importando outros tipos de base de dados:

Json:

In [120]:
import pandas as pd
# import openpyxl

In [121]:
df_json = pd.read_json('data/extras/dados/aluguel.json')
print(df_json)

                      Tipo           Bairro  Quartos  Vagas  Suites  Area  \
0                Quitinete       Copacabana        1      0       0    40
1                     Casa  Jardim Botânico        2      0       1   100
2  Conjunto Comercial/Sala  Barra da Tijuca        0      4       0   150
3              Apartamento           Centro        1      0       0    15
4              Apartamento     Higienópolis        1      0       0    48
5              Apartamento     Vista Alegre        3      1       0    70
6              Apartamento         Cachambi        2      0       0    50
7       Casa de Condomínio  Barra da Tijuca        5      4       5   750
8       Casa de Condomínio            Ramos        2      2       0    65
9  Conjunto Comercial/Sala           Centro        0      3       0   695

   Valor  Condominio    IPTU
0   1700       500.0    60.0
1   7000         NaN     NaN
2   5200      4020.0  1111.0
3    800       390.0    20.0
4    800       230.0     NaN
5   1200         NaN     NaN
6   1300       301.0    17.0
7  22000         NaN     NaN
8   1000         NaN     NaN
9  35000     19193.0  3030.0

TXT:

In [122]:
txt = open('data/extras/dados/aluguel.txt','r')
print(txt)

<_io.TextIOWrapper name='data/extras/dados/aluguel.txt' mode='r' encoding='cp1252'>

In [123]:
df_txt = pd.read_table('data/extras/dados/aluguel.txt')
print(df_txt)

                      Tipo           Bairro  Quartos  Vagas  Suites  Area  \
0                Quitinete       Copacabana        1      0       0    40
1                     Casa  Jardim Botânico        2      0       1   100
2  Conjunto Comercial/Sala  Barra da Tijuca        0      4       0   150
3              Apartamento           Centro        1      0       0    15
4              Apartamento     Higienópolis        1      0       0    48
5              Apartamento     Vista Alegre        3      1       0    70
6              Apartamento         Cachambi        2      0       0    50
7       Casa de Condomínio  Barra da Tijuca        5      4       5   750
8       Casa de Condomínio            Ramos        2      2       0    65
9  Conjunto Comercial/Sala           Centro        0      3       0   695

   Valor  Condominio    IPTU
0   1700       500.0    60.0
1   7000         NaN     NaN
2   5200      4020.0  1111.0
3    800       390.0    20.0
4    800       230.0     NaN
5   1200         NaN     NaN
6   1300       301.0    17.0
7  22000         NaN     NaN
8   1000         NaN     NaN
9  35000     19193.0  3030.0

XLS:

Arquivos em excel;

- Instalar modulo openpyxl (não precisa importar, só ter instalado!)

In [124]:
df_xlsx = pd.read_excel('data/extras/dados/aluguel.xlsx')
print(df_xlsx)

                      Tipo           Bairro  Quartos  Vagas  Suites  Area  \
0                Quitinete       Copacabana        1      0       0    40
1                     Casa  Jardim Botânico        2      0       1   100
2  Conjunto Comercial/Sala  Barra da Tijuca        0      4       0   150
3              Apartamento           Centro        1      0       0    15
4              Apartamento     Higienópolis        1      0       0    48
5              Apartamento     Vista Alegre        3      1       0    70
6              Apartamento         Cachambi        2      0       0    50
7       Casa de Condomínio  Barra da Tijuca        5      4       5   750
8       Casa de Condomínio            Ramos        2      2       0    65
9  Conjunto Comercial/Sala           Centro        0      3       0   695

   Valor  Condominio    IPTU
0   1700       500.0    60.0
1   7000         NaN     NaN
2   5200      4020.0  1111.0
3    800       390.0    20.0
4    800       230.0     NaN
5   1200         NaN     NaN
6   1300       301.0    17.0
7  22000         NaN     NaN
8   1000         NaN     NaN
9  35000     19193.0  3030.0

HTML:

- É possivel usar o documento HTML ou o URL da página que contém a tabela;

- Tem que ter instalado a biblioteca lxml ;

In [125]:

df_html = pd.read_html('data/extras/dados/dados_html_1.html') #*Pode ser o URL da página da planilha
print(df_html)

[  FAIXA ETÁRIA UNAFISCO SAÚDE SOFT II SOFT PARTICIPATIVO      UNIQUE
0      00 A 18               R$218,99           R$192,60    R$334,48
1      19 A 23               R$263,63           R$207,67    R$380,06
2      24 A 28               R$322,44           R$224,26    R$464,39
3      29 A 33               R$402,05           R$258,63    R$566,68
4      34 A 38               R$455,17           R$306,37    R$664,61
5      39 A 43               R$489,29           R$417,93    R$742,72
6      44 A 48               R$582,65           R$495,24    R$869,47
7      49 A 53               R$718,86           R$562,64  R$1.046,29
8      54 A 58               R$908,54           R$721,00  R$1.355,74
9   59 OU MAIS             R$1.244,50         R$1.151,62  R$2.003,53]

In [126]:
import lxml
df_html = pd.read_html('https://ibge.gov.br/explica/inflacao.php') #*Pode ser o URL da página da planilha
print(df_html[1])

                  Local IPCA [Jan/2023] INPC [Jan/2023]
0                Brasil           0,53%           0,46%
1          Aracaju (SE)           0,63%           0,49%
2            Belém (PA)           0,41%           0,40%
3   Belo Horizonte (MG)           0,82%           0,87%
4         Brasília (DF)           0,33%           0,27%
5     Campo Grande (MS)           0,60%           0,64%
6         Curitiba (PR)          -0,05%           0,02%
7        Fortaleza (CE)           0,86%           0,73%
8          Goiânia (GO)           0,24%           0,29%
9   Grande Vitória (ES)           0,92%           0,85%
10    Porto Alegre (RS)           0,23%           0,20%
11          Recife (PE)           0,03%          -0,08%
12      Rio Branco (AC)           0,67%           0,49%
13  Rio de Janeiro (RJ)           0,43%           0,37%
14        Salvador (BA)           1,09%           0,95%
15        São Luís (MA)          -0,01%          -0,04%
16       São Paulo (SP)           0,68%           0,54%

PRN:

In [127]:
from pandas import Series, concat, DataFrame
df_prn = pd.read_csv('CONTA_SA.PRN', header=8, squeeze=True)
df_prn

C:\Users\higor_custodio\AppData\Local\Temp\ipykernel_11532\503901993.py:2: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  df_prn = pd.read_csv('CONTA_SA.PRN', header=8, squeeze=True)

0                                                     
1                                                   ...
2     01/03/2023                                SIST...
3     15:00                                       CR...
4                                                   ...
5     ==============================================...
6              CRITICAS DE VALIDACAO DE DADOS       160
7     ----------------------------------------------...
8       CPF             NOME                        ...
9       113.120.699-10  CARLOS BUENO                ...
10    ==============================================...
11                                                  P
12                                                  CB
Name: , dtype: object

In [128]:
df_dados = df_prn

In [129]:
serie1 = Series(df_dados.iloc[8])
serie2 = Series(df_dados.iloc[9])

data_frame = concat([serie1, serie2], axis=0)
data_frame

0      CPF             NOME                        ...
0      113.120.699-10  CARLOS BUENO                ...
dtype: object

In [130]:
df_associado = data_frame
df_associado

0      CPF             NOME                        ...
0      113.120.699-10  CARLOS BUENO                ...
dtype: object

In [152]:
df_header = df_associado.iloc[0]
df_row = df_associado.iloc[1]
df_header.split(',')
df_row.split(',')
print(df_header)
print(df_row)

  CPF             NOME                            CONTA    COMPLEMENTO
  113.120.699-10  CARLOS BUENO                    ERRO     ASSOCIADO JA POSSUI CONTA SALARIO PARA O CONVENIO INFORMADO.

In [153]:
serie_header = Series(df_header)
serie_row = Series(df_row)

print(serie_header)
print(serie_row)

0      CPF             NOME                        ...
dtype: object
0      113.120.699-10  CARLOS BUENO                ...
dtype: object

In [154]:
df_fim = pd.concat([serie_header, serie_row], axis=0, ignore_index=True)

df_fim

0      CPF             NOME                        ...
1      113.120.699-10  CARLOS BUENO                ...
dtype: object

In [156]:
df_fim.to_csv('df_a.csv', sep=',', index=False)